.folder-structure {
    font-family: Tahoma;
    font-size: 1rem;
    margin-top: 2rem;
    border: solid 1px #000;

    .title {
        color: #FFF;
        background-color: #000;
        font-weight: bold;
        text-align: center;
        padding: 1rem;
    }

    .btn-add-to-root {
        color: #FFF;
        background-color: #000;
        font-size: 1rem;
        padding: 0.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

}

