.title {
    font-family: Tahoma;
    font-size: 1rem;
    color: #FFF;
    background-color: #000;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.folder-structure {
    font-family: Tahoma;
    font-size: 1rem;
    border: solid 1px #000;

    .btn-add-to-root {
        color: #FFF;
        background-color: #000;
        font-size: 1rem;
        padding: 0.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

}

